* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(231, 157, 238),rgb(135, 233, 126));
}

header {
  text-align: center;
  width: 80vw;
  margin: 2rem auto;
  padding: 2rem ;
 }

.inputForm {
  width: 80vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.inputForm input {
  width: 15rem;
  height: 1.7rem;
  padding: 0.5rem;
  border: none;
}

.inputForm button {
  padding: 0.38rem 0.5rem;
  background: rgb(243, 240, 84);
}

.todoList {
  width: 100vw;
  margin: 2rem auto;
}

.todo {
  margin: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}


.icons .fa-check {
  padding: 0.487rem .5rem;
  background: rgb(83, 164, 195);
}

.icons .fa-trash {
  padding: 0.487rem .5rem;
  background: rgb(197, 70, 81);
}

.todoText {
  min-width: 15rem;
  max-height: 1.8rem;
  padding: 0.3rem 4rem;
  background: white;
}


button {
  border: none;
}
