* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(231, 157, 238),rgb(135, 233, 126));
}

header {
  text-align: center;
  width: 80vw;
  margin: 2rem auto;
  padding: 2rem ;
 }

.inputForm {
  width: 80vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.inputForm input {
  width: 15rem;
  height: 1.5rem;
  padding: 0.5rem;
  border: none;
}

.inputForm .fas {
  position: absolute;
  right: 27%;
  top: 16%;
}

.todoList {
  width: 25vw;
  margin: 2rem auto;
}

.todo {
  padding: 0.3rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.icons .fas {
  padding: 0 .1rem;
}

